.resultBg {
	background-image: url("/src/assets/svg/symbol-scatter-haikei.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.resultSecondBg {
	background-image: url("/src/assets/svg/ResultSecond.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
